POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=postgresdb
DATABASE_URL=postgres://postgresuser:postgrespassword@db:5432/postgresdb?sslmode=disable
NEXT_PUBLIC_API_URL=http://localhost:8080